body {
  background-color: #27566B;
  color: #e6e6e6;
  padding: 10px;
  margin: 0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

div {
  padding-top: 10px;
  padding-bottom: 10px;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #467386;
  padding: 0;
  border-radius: 6px;
}

ul.header li a {
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  background-color: #6E92A1;
  padding: 20px;
  border-radius: 6px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

a {
  color: #e6e6e6;
}

a:active {
  color: #6E92A1;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

table tbody tr:hover {background-color: #467386;}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  border-radius: 6px;
}

